__pycache__
.venv
counter.txt
edge_detection_output
edge+laplacian_output
edge+laplacian+sharpness_output
resized_images
resized_images_oo
resized_images_oo2
tools_and_techniques.md
.vscode
logs
1.output
setup.py 
__init__.py
7.image_quality_checker.egg-info

